<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Landing Page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link href="../public/css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand"> START BOOTSTRAP </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav">
                
                <li class="nav-item ">
                    <a href="#portfolio" class="nav-link">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">CONTACT</a>
                </li>
            </ul>
        </div>

    </nav>
 
    <!-- Start Section -->
    <header class="masthead bg-primary text-white text-center">
        <div class="align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="../public/assets/hacker.png" alt="..." />
            <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
        
        <div class="divider-custom ">
            <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">    
                <img src="../public/assets/cookie.svg"
                    alt="triangle with all three sides equal"
                    height="60"
                    width="80" /> </div>
            <div class="divider-custom-line"></div>
        </div>
            <p class=" masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </header>
    <!-- Finish Start Section -->

    <!-- Start Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
         
            <div class="row justify-content-center">
                <!-- Item 1 -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item1.png" alt="..." />
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item2.png" alt="..." />
                    </div>
                </div>
                <!--  Item 3 -->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item3.png" alt="..." />
                    </div>
                </div>
                <!--  Item 4 -->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item4.png" alt="..." />
                    </div>
                </div>
                <!--  Item 5 -->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item5.png" alt="..." />
                    </div>
                </div>
                <!--  Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" >
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../public/assets/portfolioIMG/item6.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Finish Portfolio Section -->


      <!-- About -->
      <section class="page-section bg-primary text-white " id="about">
        <div class="container">
           
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            
            <div class="divider-custom ">
                <div class="divider-custom-line"></div>
                <div > <img
                    src="../public/assets/cookie.svg"
                    alt="triangle with all three sides equal"
                    height="60"
                    width="80" /></div>
                <div class="divider-custom-line"></div>
            </div>
           
            <div class="items">
                <div class="item"><p >Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="item"><p >You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
            </div>
          
        </div>
    </section>
 



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
        </html>
