.bg-primary {
  background-color: #1abc9c  !important;
}

.masthead .masthead-avatar {
  width: 15rem;
}

.masthead {
  padding-top: calc(3rem + 74px);
  padding-bottom: 3rem;
}


.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 1rem;
  border-color:  black;
}


.container {
  display: grid;
  grid-column: auto;
}

 


@media (min-width: 992px) {
  .masthead {
    padding-top: calc(3rem + 74px);
    padding-bottom: 3rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}





.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.item {

  padding: 10px;
  text-align: justify;
  
}

.item p {
  font-size: 1.25rem;
  font-weight: 300;
}




 